body {
    text-align:center;
    margin:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #222222;
}
header img {
    width: 200px;
    margin: 1rem 0;
}
nav {
    background-color: #FFFBF1;
    padding: 1rem 0;
    border-top:1px solid #FFD977;
    font-size: small;
    color: #004D4D;
}
main {
    width: 50%;
    text-align:left;
    margin: auto;
}
section img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 4px 4px 8px 8px rgba(164, 167, 169, 0.298)
}
h5 {
    color:#888888;
    font-weight: lighter;
    text-align: center;
}
h1 {
    text-align: center;
}
section div {
    border-left: 1px solid #FFD977;
    padding-left: 15px;
} 
div span {
    color: brown;
    display: block;
}
a {
    color: #107777;
}

ul {
    line-height: 2em;
}

h2 {
    border-bottom: 1px solid #D2EBE8;
    padding-bottom: 20px;
}
footer {
    width: 50%;
    text-align:left;
    margin: auto;
}